$clrBlack: #34353d;
$clrWhite: #ffffff;
$clrSecondary: #81868e;
$clrMiddleGrey: #c5d1de;
$clrLightGrey: #f1f7ff;
$clrExtraLightGrey: #f7f8fb;
$clrPink: #eb9486;
$clrLightPink: #fff2e7;
$clrLightPinkHover: #ffe2c8;
$clrLink: #2b34b9;
$clrLinkHover: #3e61dd;
$clrLinkFocus: #1e27a3;
