<div class="form form-callback _popup">
	<div class="form_wrapper">
		<p class="form__title">Заказать звонок</p>
		<p class="form__subtitle">
			Наш менеджер свяжется с вами в ближайшее время.
		</p>
		<form class="form__form" action="/ajax/form/" data-type="callback">
			<div class="form__inputs">
				<div class="form__input-wrap">
					<input type="text" name="name" data-required placeholder="Имя">
				</div>
				<div class="form__input-wrap">
					<input type="text" name="email" data-required placeholder="Электронная почта">
				</div>
			</div>
			<div class="form__submit">
				<button class="form__submit-btn _btn" type="submit">
					Отправить
				</button>
				<div class="form_policy checkbox_item _active" data-action="form_checkbox" data-form-privacy>
					<input type="checkbox" name="policy" class="personalData" checked data-required>
					<p class="checkbox_pseudo">Согласен с&nbsp;</p>
					<a class="form_policy_link" href="/privacy-policy/" target="_blank">
						политикой обработки персональных данных
					</a>
				</div>
			</div>
		</form>
		<div class="form__close _close-btn" data-form-close>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="form__success" data-success>
		<p class="form__title">Спасибо за обращение</p>
		<p class="form__subtitle">
			Мы получили вашу заявку. В ближайшее время с вами свяжется наш&nbsp;специалист.
		</p>
		<div class="form__btn-succes _btn" data-form-choose-success data-form-close>
			Понятно, спасибо
		</div>
		<div class="form__close _close-btn" data-form-close>
			<span></span>
			<span></span>
		</div>
	</div>
</div>