<h1>
	{{seo.h1}}&nbsp;{% if seo_type != 'listing' %}<span class="title__count">{{total}}{% if seo.text_1 %}<span class="title__tooltip">?</span>{% endif %}</span>{% endif %}
</h1>
{% if seo.text_1 %}
<div class="title__tooltip-text">
	{{seo.text_1|raw}}
</div>
{% endif %}