<a class="blog__item" href="{{ model.getUrl('Услуги') }}">
	<div class="blog__item-image">
		<img src="{{ model.getFileData('image').src }}" alt="{{ model.name }}">
	</div>
	<div class="blog__item-name">{{ model.name }}</div>
</a>

