.blog {
	
}
.list-view,
.blog__list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px 24px;
	margin-bottom: 42px;

	@include for-laptop {
		margin-bottom: 24px;
	}
}
.list-view>div[data-key],
.blog__item {
	flex: 0 1 calc(33% - 14px);

	@include for-laptop {
		flex: 0 1 calc(50% - 14px);
	}

	@include for-mobile {
		flex: 0 1 100%;
	}
}
.blog_item_img,
.blog__item-image {
	height: auto;
	max-height: 266px;
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 12px;

	@include for-laptop {
		max-height: 241px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.blog__item-name {
	font-weight: 600;
	margin-bottom: 4px;
}
.blog__item-date {
	font-size: 14px;
	line-height: 1.2em;
	color: $clrSecondary;
}

.blog__more-btn._btn-transparent {
	margin: 0 auto 16px;
}

.blog__pagination {
	margin-bottom: 64px;

	@include for-laptop {
		margin-bottom: 40px;
	}

	@include for-mobile {
		margin-bottom: 32px;
	}
}














// .blog {
	
// }
// .blog__list {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 32px 24px;
// 	margin-bottom: 42px;

// 	@include for-laptop {
// 		margin-bottom: 24px;
// 	}
// }
// .blog__item {
// 	flex: 0 1 calc(33% - 14px);

// 	@include for-laptop {
// 		flex: 0 1 calc(50% - 14px);
// 	}

// 	@include for-mobile {
// 		flex: 0 1 100%;
// 	}
// }
// .blog__item-image {
// 	height: auto;
// 	max-height: 266px;
// 	overflow: hidden;
// 	border-radius: 4px;
// 	margin-bottom: 12px;

// 	@include for-laptop {
// 		max-height: 241px;
// 	}

// 	img {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 	}
// }
// .blog__item-name {
// 	font-weight: 600;
// 	margin-bottom: 4px;
// }
// .blog__item-date {
// 	font-size: 14px;
// 	line-height: 1.2em;
// 	color: $clrSecondary;
// }

// .blog__more-btn._btn-transparent {
// 	margin: 0 auto 16px;
// }

// .blog__pagination {
// 	margin-bottom: 64px;

// 	@include for-laptop {
// 		margin-bottom: 40px;
// 	}

// 	@include for-mobile {
// 		margin-bottom: 32px;
// 	}
// }
