.error {
}
.error__wrap {
	max-width: 924px;

	.title {
		h1 {
			padding-right: 0;
		}
	}
	
}
.error__listing {
	h4 {
		font-size: 23px;
		font-weight: 500;
		line-height: 1.2em;
		margin-bottom: 24px;

		@include for-laptop {
			margin-bottom: 16px;
		}
	}
}
