.filter_wrapper {
	width: 292px;

	@include for-lowlap {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
		overflow-y: scroll;
		height: 100vh;
		width: 320px;
		box-shadow: 8px 8px 16px rgba(74, 74, 77, 0.25);

		&._active {
			display: block;
		}

		&._fixed {
			.filter_select-checkbox-wrapper {
				padding-bottom: 88px;
			}

			.filter__btn {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 320px;
				background-color: $clrWhite;
				box-shadow: 0px -4px 8px rgba(206, 207, 223, 0.25);
			}
		}
	}
}
.filter {
	border-radius: 4px;
	background-color: $clrExtraLightGrey;
	margin-bottom: 36px;

	@include for-lowlap {
		margin-bottom: 0;
	}
}
.filter_select-checkbox-wrapper {
	padding: 24px 16px 0;
}
.filter__title {
	display: none;
	justify-content: space-between;
	margin-bottom: 16px;

	@include for-lowlap {
		display: flex;
	}

	p {
		font-size: 23px;
		font-weight: 500;
	}
}
.filter__close {
	position: relative;
	flex: 0 0 24px;
	width: 24px;
	height: 24px;

	span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #81868e;
		transition: all 0.5s ease;
		&:first-child {
			transform: rotate(-45deg);
			top: 9px;
		}
		&:last-child {
			transform: rotate(45deg);
			bottom: 12px;
		}
	}
}
.filter_checkbox,
.filter_select {
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}
}
.filter_label {
	font-weight: 600;
	margin-bottom: 12px;
}
.filter_check,
.filter_select_list {
	// margin-bottom: 12px;

	&[data-type="price"] {
		.filter_check_item{
			p {
				&::before {
					border-radius: 50%;
				}
	
				&::after {
					left: 4px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: $clrLink;
				}
			}

			// &._checked {
			// 	p::after {
			// 		display: block;
			// 	}
			// }
		}

		&._checked {
			p::after {
				display: block;
			}
		}
	}
}
.filter_check_item,
.filter_select_item {
	display: flex;
	align-items: baseline;
	gap: 5px;
	cursor: pointer;
	margin-bottom: 12px;

	&._active {
		p::after {
			display: block;
		}
	}

	&._disabled {
		// display: none;
		pointer-events: none;
		color: $clrSecondary;
	}

	p {
		position: relative;
		padding-left: 22px;

		&::before {
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			width: 16px;
			height: 16px;
			border: 1px solid $clrMiddleGrey;
			border-radius: 2px;
			background-color: $clrWhite;
		}

		&::after {
			display: none;
			content: "";
			position: absolute;
			top: 5px;
			left: 3px;
			width: 10px;
			height: 9px;
			background: url("/image/icons/checkbox.svg") center no-repeat;
		}
	}
	span {
		font-size: 12px;
		line-height: 14px;
		color: $clrSecondary;
	}
}
.filter_checkbox_more,
.filter_select_more {
	cursor: pointer;
	display: inline-block;
	color: $clrLink;
	border-bottom: 1px dashed #b9bde7;

	&:hover {
		color: $clrLinkHover;
		border-bottom: 1px dashed $clrLinkHover;
	}

	&:active {
		color: $clrLinkFocus;
		border-bottom: 1px dashed $clrLinkFocus;
	}
}
.filter__btn {
	display: flex;
	justify-content: space-between;
	padding: 24px 16px;
}
.filter_submit_btn._btn {
	width: 50%;
	line-height: 40px;
	padding: 5px 15px;

	@include for-lowlap {
		width: 100%;
		max-width: 158px;
	}

	&._disabled {
		cursor: default;
		pointer-events: none;
		background-color: $clrLinkHover;
	}

	span {
		font-weight: 400;
	}
}
.filter_cancel_btn._btn-transparent {
	line-height: 40px;
}
