.footer {
	background-color: $clrExtraLightGrey;
}
.footer__top {
	border-bottom: 1px solid #e2e6eb;
	padding: 24px 0;
}
.footer__top-container {
	display: flex;
	align-items: center;

	@include for-mobile {
		flex-direction: column;
		align-items: flex-start;
	}
}
.footer__logo {
	margin-right: 30px;

	@include for-laptop {
		margin-right: 14px;
	}

	@include for-mobile {
		margin-right: 0;
		margin-bottom: 16px;
	}

	.logo__img {
		@include for-mobile {
			flex: 0 0 44px;
		}
	}
	.logo__text {
		@include for-mobile {
			font-size: 16px;
		}
	}
}
.footer__top-phone {
	font-size: 20px;
	font-weight: 600;
	margin-right: 25px;

	@include for-laptop {
		font-size: 16px;
		margin-right: 16px;
	}

	@include for-mobile {
		margin-bottom: 12px;
	}
}
.footer__top-phone-label {
	font-size: 12px;
	color: $clrSecondary;
}
.footer__top-mail {
	margin-right: 15px;

	@include for-mobile {
		margin-bottom: 16px;
	}

	a {
		font-size: 20px;
		font-weight: 600;
		color: $clrLink;
		border-bottom: 1px solid #b9bde7;

		@include for-laptop {
			font-size: 16px;
		}

		&:hover {
			color: $clrLinkHover;
			border-bottom: 1px solid $clrLinkHover;
		}

		&:active {
			color: $clrLinkFocus;
			border-bottom: 1px solid $clrLinkFocus;
		}
	}
}
.footer__top-mail-label {
	font-size: 12px;
	color: $clrSecondary;
}
.footer__top-callback._btn {
	padding: 5px 32px;
	margin-left: auto;

	@include for-laptop {
		font-size: 12px;
		font-weight: 500;
		padding: 5px 16px;
	}

	@include for-mobile {
		font-size: 14px;
		padding: 5px 24px;
		margin-left: 0;
	}
}
.footer__bot {
	padding: 24px 0 20px;
}
.footer__bot-container {
	position: relative;
	display: flex;
	justify-content: space-between;

	@include for-lowlap {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.footer__bot-list {
	columns: 2;

	@include for-lowlap {
		width: calc(50% - 15px);
	}

	@include for-mobile {
		width: 100%;
	}
}
.footer__bot-item {
	margin-bottom: 12px;

	a {
		font-size: 14px;
		color: $clrSecondary;
		border-bottom: 1px solid #d3d5da;

		&:hover,
		&:active {
			color: $clrBlack;
			border-bottom: 1px solid $clrBlack;
		}
	}
}
.footer__bot-logos {
	display: flex;
	gap: 32px;

	@include for-lowlap {
		flex-wrap: wrap;
		width: calc(50% - 15px);
		gap: 12px 24px;
	}

	@include for-mobile {
		order: 3;
		width: 100%;
	}
}
.footer__bot-logo {
	@include for-laptop {
		width: 155px;
	}

	@media screen and (max-width: 400px) {
		width: 105px;
	}

	img {
		max-width: 100%;
	}
}
.footer__bot-soc-logo {
}
.footer__bot-zdrav-logo {
}
.footer__bot-nadzor-logo {
	@include for-laptop {
		width: 225px;
	}
	@media screen and (max-width: 400px) {
		width: 150px;
	}
}
.footer__bot-links {
	position: absolute;
	bottom: 10px;
	right: 16px;
	display: flex;
	gap: 24px;
	font-size: 14px;
	color: $clrSecondary;

	@include for-lowlap {
		position: static;
		width: 100%;
	}

	@include for-mobile {
		flex-direction: column;
		gap: 12px;
	}

	a {
		color: $clrSecondary;
		border-bottom: 1px solid #d3d5da;
		width: fit-content;

		&:hover,
		&:active {
			color: $clrBlack;
			border-bottom: 1px solid $clrBlack;
		}
	}
}
