.item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.item__container {
	width: calc(100% - 420px);

	@include for-laptop {
		width: 100%;
	}
}

.item__gallery {
	position: relative;
	display: flex;
	gap: 4px;
	margin-bottom: 32px;

	@include for-mobile {
		display: none;
	}
}
.item__gallery-img {
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	height: 173px;
	border-radius: 4px;

	&.item__gallery-img_main {
		height: 350px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.item__gallery-images {
	flex: 0 0 30%;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.item__slider-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(52, 53, 61, 0.5);
	margin-bottom: 32px;

	@include for-laptop {
		margin-bottom: 16px;
	}

	@include for-mobile {
		display: block;
		position: static;
		background: none;
		margin-bottom: 32px;
	}

	&._active {
		display: block;
	}
}

.item__slider-innerwrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	@include for-mobile {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
}

.item__slider {
	width: 650px;
	margin-bottom: 4px;

	@include for-mobile {
		width: 100%;
		max-width: 550px;
	}
}
.item__slider-slide {
	max-width: 816px;
	// max-height: 350px;
	height: 435px;
	max-height: 60vh;
	border-radius: 4px;
	overflow: hidden;

	@include for-laptop {
		height: auto;
	}

	@include for-mobile {
		max-height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item__slider-next,
.item__slider-prev {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	bottom: 16px;
	right: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid #c5d1de;
	border-radius: 50%;

	@include for-mobile {
		bottom: 50%;
		transform: rotate(0deg) translateY(50%);
		right: 8px;
	}
}
.item__slider-prev {
	transform: rotate(180deg);
	right: 56px;

	@include for-mobile {
		transform: rotate(180deg) translateY(-50%);
		right: unset;
		left: 8px;
	}
}
.item__slider-pagination.swiper-pagination-bullets {
	bottom: -24px;

	.swiper-pagination-bullet {
		background: #ffffff;
		border: 1px solid #e2e6eb;
		opacity: 1;
		margin: 0 2px;

		&.swiper-pagination-bullet-active {
			background-color: $clrMiddleGrey;
		}
	}
}
.item__slider-thumb {
	width: 650px;

	@include for-mobile {
		display: none;
	}
}
.item__slider-thumb-slide {
	width: calc((100% / 4) - 3px);
	height: 112px;
	max-height: 30vh;
	border-radius: 4px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item__slider-count {
	position: absolute;
	z-index: 5;
	// top: 50%;
	// right: 12.5%;
	// transform: translate(50%, -50%);
	bottom: 63.5px;
	right: 15%;
	transform: translateX(50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 46px;
	background: rgba(247, 248, 251, 0.8);
	border-radius: 100px;

	img {
		max-width: 100%;
		max-height: 100%;
		margin-bottom: 3px;
	}
	span {
		font-size: 8px;
		line-height: 1.2em;
	}
}

.item__info {
	position: sticky;
	top: 24px;
	z-index: 5;
	width: 396px;
	border: 1px solid #e2e6eb;
	border-radius: 4px;

	@include for-laptop {
		position: static;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 24px;
	}

	@include for-mobile {
		flex-direction: column;
		border: none;
	}
}
.item__info-wrap {
	background-color: $clrWhite;
	padding: 24px;

	@include for-laptop {
		padding: 16px;
	}
	@include for-mobile {
		padding: 0;
	}
}
.item__info-title {
	font-size: 23px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 8px;
}
.item__info-address {
	position: relative;
	// display: inline-block;
	cursor: pointer;
	transition: all 0.5s ease;
	margin-left: 21px;
	margin-bottom: 16px;

	&::before {
		content: "";
		position: absolute;
		top: 4px;
		left: -21px;
		width: 16px;
		height: 16px;
		background: url("/image/icons/pin_icon.svg") center no-repeat;
	}

	&:hover {
		span {
			transition: none;
			color: $clrBlack;
			border-bottom: 1px dashed $clrBlack;
		}
	}

	span {
		transition: all 0.5s ease;
		font-size: 14px;
		color: $clrSecondary;
		border-bottom: 1px dashed #d3d5da;
	}
}
.item__info-review {
	margin-bottom: 16px;
}
.item__info-net {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 24px;

	span {
		font-weight: 400;
		border-bottom: 1px solid #c2c2c4;
	}
}
.item__info-phone {
	font-size: 20px;
	font-weight: 600;

	@include for-laptop {
		font-size: 18px;
	}
}
.item__info-phone-text {
	font-size: 12px;
	color: $clrSecondary;

	@include for-mobile {
		margin-bottom: 16px;
	}
}
.item__info-bot {
	background-color: $clrExtraLightGrey;
	padding: 24px;

	@include for-laptop {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	@include for-mobile {
		border-radius: 4px;
		align-items: flex-start;
		padding: 12px;
	}
}
.item__info-bot-price {
	position: relative;
	width: fit-content;
	white-space: nowrap;
	font-size: 14px;
	margin-right: 24px;
	margin-bottom: 24px;

	span {
		font-size: 34px;
		font-weight: 500;
		line-height: 1.2em;
	}
}
.item__info-bot-tooltip {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -2px;
	right: -34px;
	padding: 10px;

	&:hover {
		.item__info-bot-tooltip-text {
			display: block;
		}
	}

	span {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: $clrLink;
		font-size: 16px;
		line-height: 1em;
		text-align: center;
		color: $clrWhite;
	}
}
.item__info-bot-tooltip-text {
	display: none;
	position: absolute;
	z-index: 10;
	top: 35px;
	right: -4px;
	width: 290px;
	color: $clrBlack;
	white-space: normal;
	border: 1px solid #e2e6eb;
	border-radius: 4px;
	background-color: $clrWhite;
	padding: 24px;

	@include for-mobile {
		right: -48px;
	}

	&::before {
		content: "";
		position: absolute;
		top: -6px;
		right: 16px;
		// width: 14px;
		// height: 10px;
		// background: url("/image/icons/triangle.svg") center bottom no-repeat;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		background: $clrWhite;
		border-left: 1px solid #e2e6eb;
		border-top: 1px solid #e2e6eb;

		@include for-mobile {
			right: 61px;
		}
	}

	a {
		color: $clrLink;
		border-bottom: 1px solid $clrLink;
		transition: all 0.5s ease;

		&:hover {
			transition: none;
			color: $clrLinkHover;
			border-bottom: 1px solid $clrLinkHover;
		}
	}
}
.item__info-bot-btns {
	display: flex;
	justify-content: space-between;

	@include for-laptop {
		flex-direction: column;
		gap: 16px;
	}

	@include for-mobile {
		flex-direction: row;
		gap: 8px;
		width: 100%;
	}
}
.item__info-bot-order._btn {
	@include for-laptop {
		width: 186px;
		max-width: 100%;
		padding: 5px;
	}

	@include for-mobile {
		width: 100%;
	}
}
.item__info-bot-callback._btn-transparent {
	@include for-laptop {
		width: 186px;
		max-width: 100%;
		padding: 5px;
	}

	@include for-mobile {
		width: 100%;
	}
}

.item__menu {
	overflow: auto;
	display: flex;
	margin-bottom: 32px;

	@include for-laptop {
		margin-bottom: 24px;
	}

	@include for-mobile {
		width: calc(100vw - 16px);
		margin-bottom: 16px;
	}
}
.item__menu-list {
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	background-color: $clrLightPink;
	border-radius: 100px;
	padding: 16px 32px;
}
.item__menu-item {
	transition: all 0.5s ease;

	&:hover {
		a {
			color: $clrLink;
			transition: none;
		}
	}

	a {
		font-size: 15px;
		font-weight: 500;
		white-space: nowrap;
	}
}

.item__description {
}
.item__description-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 8px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__description-text {
	margin-bottom: 20px;
}
.item__description-video-wrap {
}
.item__description-video {
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 8px;

	img {
		width: 100%;
		height: 100%;
	}
}
.item__description-video-btn {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 72px;
	height: 72px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-42%, -50%);
		width: 32px;
		height: 32px;
		background: url("/image/icons/video_play_btn.svg") center no-repeat;
	}
}
.item__description-video-title {
	font-size: 14px;
	color: $clrSecondary;
	text-align: center;

	@include for-mobile {
		text-align: left;
	}
}

.item__licence {
	position: relative;
	margin-bottom: 88px;

	@include for-laptop {
		margin-bottom: 64px;
	}
}
.item__licence-title {
	font-size: 28px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;
}
.item__licence-slider {
}
.item__licence-slider-slide {
	width: 186px;
	height: 264px;
	border: 1px solid #e2e6eb;
	padding: 4px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.item__licence-slider-next,
.item__licence-slider-prev {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	top: 10px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid #c5d1de;
	border-radius: 50%;
}
.item__licence-slider-prev {
	transform: rotate(180deg);
	right: 40px;
}
.item__licence .item__licence-slider-pagination {
	bottom: -30px;

	.swiper-pagination-bullet {
		background: #ffffff;
		border: 1px solid #e2e6eb;
		margin: 0 2px;

		&.swiper-pagination-bullet-active {
			background-color: #c5d1de;
		}
	}
}

.item__conditions {
	margin-bottom: 48px;

	@include for-laptop {
		margin-bottom: 32px;
	}
}
.item__conditions-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__conditions-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 32px;
}
.item__conditions-col {
	flex: 1 1 calc(50% - 32px);
	display: flex;
	align-items: flex-start;
	gap: 10px;

	@include for-mobile {
		flex: 1 1 100%;
	}
}
.item__conditions-icon {
	flex: 0 0 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $clrExtraLightGrey;
}
.item__conditions-info {
	li {
		position: relative;
		font-size: 14px;
		margin-left: 13px;
		margin-bottom: 8px;

		&::before {
			content: "";
			position: absolute;
			top: 7px;
			left: -10px;
			width: 4px;
			height: 4px;
			background-color: #eb9486;
			border-radius: 50%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
.item__conditions-subtitle {
	font-size: 20px;
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 8px;

	@include for-mobile {
		font-size: 18px;
	}
}

.item__location {
	margin-bottom: 38px;

	@include for-laptop {
		margin-bottom: 22px;
	}
}
.item__location-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 8px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__location-subtitle {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 8px;
}
.item__location-address {
	margin-bottom: 24px;
}
.item__location-map {
	width: 100%;
	height: 400px;
	margin-bottom: 24px;

	@include for-laptop {
		height: 300px;
	}

	@include for-mobile {
		height: 240px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item__location-label {
	font-weight: 600;
	margin-bottom: 4px;
}
.item__location-text {
	margin-bottom: 16px;
}
.item__location-near-cities {
}
.item__location-near-cities-list {
	overflow: auto;
	display: flex;
	align-items: center;
	gap: 12px;
	padding-bottom: 10px;

	@include for-mobile {
		width: calc(100vw - 16px);
	}
}
.item__location-near-cities-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	white-space: nowrap;
	border: 1px solid #c5d1de;
	border-radius: 100px;
	padding: 5px 16px;
}

.item__review {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 24px;
	margin-bottom: 48px;

	@include for-mobile {
		flex-direction: column;
	}
}
.item__review-our {
	position: relative;
	flex: 1 0 calc(50% - 12px);
	min-width: 0;

	@include for-mobile {
		width: 100%;
	}

	.item__review-title {
		margin-right: 80px;
	}
}
.item__review-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;

	@include for-mobile {
		font-size: 26px;

		br {
			display: none;
		}
	}
}
.item__review-slider {
}
.item__review-slide {
	max-width: 398px;
	border: 1px solid #e2e6eb;
	border-radius: 4px;
	padding: 24px;

	@include for-laptop {
		max-width: 483px;
	}

	@include for-mobile {
		max-width: 100%;
	}
}
.item__review-rate {
	margin-bottom: 12px;
}
.item__review-slider-next,
.item__review-slider-prev {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	top: 10px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid $clrMiddleGrey;
	border-radius: 50%;
}
.item__review-slider-prev {
	transform: rotate(180deg);
	right: 40px;
}
.item .item__review-slider-pagination {
	bottom: -20px;

	.swiper-pagination-bullet {
		background: #ffffff;
		border: 1px solid #e2e6eb;
		margin: 0 2px;
		&.swiper-pagination-bullet-active {
			background-color: #c5d1de;
		}
	}
}

.item__review-yandex {
	flex: 1 0 calc(50% - 12px);
	width: 50%;
	max-width: 400px;

	@include for-mobile {
		flex: 1 0 100%;
		width: 100%;
	}
}

.item__opinion {
	position: relative;
	background-color: $clrExtraLightGrey;
	border-radius: 4px;
	padding: 32px 295px 40px 40px;
	margin-bottom: 48px;

	@include for-lowlap {
		padding: 16px 24px 24px;
		margin-bottom: 32px;
	}

	@include for-mobile {
		padding: 32px 16px;
	}

	&._success {
		padding: 32px 40px 40px;
		
		.form_wrapper {
			display: none;
		}
		.form__success {
			display: block;
		}
		img {
			display: none;
		}
	}

	.form_wrapper {
		background: none;
		padding: 0;
		margin: 0;
	}

	.form__success {
		background: $clrExtraLightGrey;

		p {
			color: $clrBlack;
		}
	}

	img {
		position: absolute;
		top: 0;
		right: -100px;

		@include for-lowlap {
			top: 80px;
			right: -20px;
			width: 313px;
		}

		@include for-mobile {
			top: -25px;
			right: 0;
			width: 116px;
		}
	}
}
.item__opinion-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 5px;

	@include for-mobile {
		font-size: 26px;
		padding-right: 100px;
	}
}
.item__opinion-text {
	margin-bottom: 20px;

	@include for-mobile {
		padding-right: 50px;
	}
}
.item__opinion-form {
	.form__inputs {
		flex-direction: column;
		margin-bottom: 32px;

		@include for-lowlap {
			padding-right: 260px;
		}

		@include for-mobile {
			padding-right: 0;
		}
	}
	.form__input-wrap {
		width: 100%;

		input {
			border: 1px solid $clrMiddleGrey;
		}

		&._comment {
			height: 128px;
			// textarea {
			// 	resize: none;
			// 	width: 100%;
			// 	height: 100%;
			// 	border-radius: 4px;
			// 	font-size: 16px;
			// 	padding: 5px 12px;
			// }
		}
	}
	.form__submit-btn._btn_form {
		background-color: $clrLink;
	}
	.checkbox_item {
		margin-right: 0;
	}
	.checkbox_pseudo {
		color: $clrBlack;

		&::before {
			border: 1px solid $clrMiddleGrey;
		}
	}
	.form_policy_link {
		color: $clrBlack;
	}
}
.rating {
	display: flex;
	align-items: center;
	gap: 10px;
}
.rating__title {
	font-weight: 600;
}
.rating__area {
}
.rating__area:not(:checked) > input {
	display: none;
}
.rating__area:not(:checked) > label {
	cursor: pointer;
	float: right;
	width: 32px;
	height: 32px;
}
.rating__area:not(:checked) > label:before {
	content: "";
	display: block;
	font-size: 0;
	width: 32px;
	height: 32px;
	background: url("/image/icons/star.svg") no-repeat center / contain;
}
.rating__area > input:checked ~ label {
	&::before {
		background: url("/image/icons/star_check.svg") no-repeat center / contain;
	}
}
.rating__area:not(:checked) > label:hover,
.rating__area:not(:checked) > label:hover ~ label {
	&::before {
		background: url("/image/icons/star_check.svg") no-repeat center / contain;
	}
}
.rating__area > input:checked + label:hover,
.rating__area > input:checked + label:hover ~ label,
.rating__area > input:checked ~ label:hover,
.rating__area > input:checked ~ label:hover ~ label,
.rating__area > label:hover ~ input:checked ~ label {
	// color: gold;
	// text-shadow: 1px 1px goldenrod;
}

.item__docs {
	margin-bottom: 48px;

	@include for-laptop {
		margin-bottom: 32px;
	}
}
.item__docs-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 8px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__docs-list {
	padding-left: 26px;
	li {
		margin-bottom: 12px;

		&::marker {
			color: $clrPink;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.item__schedule {
	margin-bottom: 48px;

	@include for-laptop {
		margin-bottom: 32px;
	}
}
.item__schedule-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__schedule-list {
}
.item__schedule-item {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	background-color: $clrExtraLightGrey;
	padding: 16px;
	margin-bottom: 4px;

	@include for-mobile {
		gap: 8px;
		padding: 12px 16px;
	}
}
.item__schedule-time {
	flex: 0 0 105px;
}
.item__schedule-text {
}

.item__special {
	margin-bottom: 48px;

	@include for-mobile {
		margin-bottom: 22px;
	}
}
.item__special-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__special-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px 24px;

	@include for-mobile {
		overflow-x: auto;
		width: calc(100% + 16px);
		flex-wrap: nowrap;
		gap: 8px;
		padding-bottom: 10px;
	}
}
.item__special-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 51px;
	border: 1px solid $clrMiddleGrey;
	border-radius: 100px;
	white-space: nowrap;
	padding: 5px 24px;

	@include for-mobile {
		height: 32px;
		padding: 5px 16px;
	}
}

.item__calc.form {
	position: relative;
	margin-bottom: 48px;

	@include for-laptop {
		margin-bottom: 32px;
	}

	&._success {
		.form__success {
			display: flex;
		}
	}

	.form_wrapper {
		display: block;
		background: none;
		padding: 0;
	}

	.form__success {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// display: flex;
		display: none;
		flex-direction: column;
		justify-content: center;
		background: rgba(255, 242, 231, 0.9);
		margin: 0;

		p {
			color: $clrBlack;
		}
	}
}
.item__calc-form {
	border-radius: 4px;
	overflow: hidden;
}
.item__calc-top {
	background-color: $clrLightPink;
	padding: 32px 40px;

	@include for-lowlap {
		padding: 16px 24px 24px;
	}

	@include for-mobile {
		padding: 16px 16px 24px;
	}
}
.item__calc-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;

	@include for-mobile {
		font-size: 26px;
	}
}
.item__calc-conditions {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	@include for-mobile {
		flex-direction: column;
		gap: 16px;
	}
}
.item__calc-condition {
	width: calc(33% - 16px);

	@include for-lowlap {
		width: auto;
	}

	@include for-laptop {
		width: calc(33% - 16px);
	}

	@include for-mobile {
		width: 100%;
	}
}
.item__calc-condition-title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 12px;
}
.item__calc-condition-list {
}
.item__calc-condition-item {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	/* для элемента input c type="radio" */
	input[type="radio"] {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	/* для элемента label связанного с input[type="radio"] */
	input[type="radio"] + label {
		cursor: pointer;
		position: relative;
		display: inline-flex;
		align-items: center;
		user-select: none;
		padding-left: 22px;
	}

	/* создание в label псевдоэлемента  before со следующими стилями */
	input[type="radio"] + label::before {
		content: "";
		position: absolute;
		top: 2px;
		left: 0;
		width: 16px;
		height: 16px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid $clrMiddleGrey;
		border-radius: 50%;
		background-color: $clrWhite;
	}

	/* стили для радиокнопки, находящейся в состоянии checked */
	input[type="radio"]:checked + label::after {
		content: "";
		position: absolute;
		top: 6px;
		left: 4px;
		width: 8px;
		height: 8px;
		background-color: $clrLink;
		border-radius: 50%;
	}
}
.item__calc-bot {
	background-color: $clrPink;
	padding: 32px 40px;

	@include for-lowlap {
		padding: 24px;
	}

	.checkbox_item {
		max-width: 100%;
		margin-right: 0;
	}
	.checkbox_pseudo {
		&::before {
			top: 1px;
		}
		&::after {
			top: 5px;
		}
	}
}
.item__calc-bot-inputs {
	display: flex;
	margin-bottom: 16px;

	@include for-mobile {
		flex-direction: column;
	}

	.form__input-wrap {
		width: 210px;
		margin-right: 16px;

		@include for-mobile {
			width: 100%;
			margin-right: 0;
			margin-bottom: 16px;
		}

		&:last-of-type {
			margin-right: 24px;

			@include for-mobile {
				margin-right: 0;
				margin-bottom: 24px;
			}
		}
		input._invalid {
			border: 1px solid #ff0000;
		}
	}

	.form_input_error {
		color: #ff0000;
	}

	.form__submit-btn {
		height: 48px;
		font-size: 16px;
		font-weight: 600;
		padding: 5px 32px;

		@include for-mobile {
			width: 100%;
		}
	}
}

.item__other-items {
	margin-bottom: 48px;

	@include for-laptop {
		margin-bottom: 32px;
	}

	.listing__item-images {
		@include for-notdesc {
			flex: 0 0 296px;
		}

		@include for-laptop {
			flex: 0 0 360px;
		}
		@include for-mobile {
			flex: 0 0 100%;
		}
	}

	.listing__item-info-btns {
		flex-wrap: wrap;

		@include for-mobile {
			flex-wrap: nowrap;
		}
	}
}
.item__other-items-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 24px;

	@include for-mobile {
		font-size: 26px;
		margin-bottom: 16px;
	}
}

.item__faq {
	margin-bottom: 64px;

	@include for-laptop {
		margin-bottom: 40px;
	}

	@include for-mobile {
		margin-bottom: 32px;
	}
}
.item__faq-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 16px;

	@include for-mobile {
		font-size: 26px;
	}
}
