.map {
	width: 100%;
	height: 480px;
	margin: 0 0 32px 0;

	@include for-lowlap {
		height: 360px;
	}

	@include for-mobile {
		height: 320px;
	}

	&.map_listing {
		display: none;

		&._active {
			display: block;
		}
	}
}
.balloon_layout {
	display: block;
	position: absolute;
	width: 315px;
	max-width: 412px;
	height: 194px;
	background: white;
}

.balloon_layout._single_object,
.balloon_layout {
	display: block;
	position: absolute;
	bottom: 46px;
	left: -22px;
	max-width: unset;
	height: auto;
	background: white;
	border: 1px solid #e2e6eb;
	border-radius: 4px;

	&::before {
		content: "";
		position: absolute;
		bottom: -6px;
		left: 16px;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		background: #fff;
		border-right: 1px solid #e2e6eb;
		border-bottom: 1px solid #e2e6eb;
	}

	.balloon_inner {
		display: flex;
		border-radius: 4px;
		padding: 16px;

		.balloon_inner_header {
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 142.56%;
			text-align: center;
			margin-right: 16px;

			@include for-mobile {
				width: 272px;
				height: 176px;
				margin-bottom: 8px;
				margin-right: 0;
			}

			.balloon_inner_header_img {
				width: 126px;
				height: 96px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				@include for-mobile {
					width: 272px;
					height: 176px;
				}
			}
		}

		.balloon_inner_body {
			display: flex;
			flex-flow: row wrap;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #666666;

			.balloon_inner_body_name {
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				letter-spacing: 0.01em;
				text-align: left;
				color: #363c4a;

				@include for-mobile {
					margin-bottom: 4px;
				}
			}

			.balloon_inner_body_address {
				margin-bottom: 6px;
				font-family: "Lato", sans-serif;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: 0.02em;
				text-align: left;
				color: #797c88;

				@include for-mobile {
					margin-bottom: 4px;
				}
			}

			.balloon_inner_body_options {
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: 0.02em;
				text-align: left;
				color: #363c4a;

				@include for-mobile {
					margin-bottom: 4px;
				}
			}
		}
	}
}

.balloon_wrapper {
	display: flex;
}
.balloon_header {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 4px;
}

.balloon_address {
	position: relative;
	display: inline-block;
	transition: all 0.5s ease;
	margin-left: 21px;
	margin-bottom: 16px;

	&::before {
		content: "";
		position: absolute;
		top: 4px;
		left: -21px;
		width: 16px;
		height: 16px;
		background: url("/image/icons/pin_icon.svg") center no-repeat;
	}

	span {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: $clrSecondary;
		border-bottom: 1px dashed #d3d5da;
	}
}

.balloon_inner_body_options {
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #363c4a;
}

.balloon_btn {
}

.contacts__map {
	.balloon_address {
		margin: 0;

		&::before {
			display: none;
		}

		span {
			border: none;
			font-size: 16px;
			color: $clrBlack;
		}
	}
}
