<div class="contacts" data-page-type="contacts">
	<div class="container">
		<div class="title">
			<h1>Контакты</h1>
		</div>

		<div class="contacts__form-wrapper">
			<div class="contacts__form">
				<div class="contacts__form-info">
					<h2 class="contacts__form-title">Остались вопросы?</h2>
					<div class="contacts__form-text">
						Мы на связи ежедневно и готовы ответить на&nbsp;любые ваши вопросы
					</div>
					<div class="contacts__form-wrap">
						<div class="contacts__form-wrap-left">
							<div class="contacts__form-item">
								<div class="contacts__form-label">Телефон горячей линии:</div>
								<a href="tel:+74999386439" class="contacts__form-phone">+7 (499) 938 64 39</a>
							</div>
							<div class="contacts__form-item">
								<div class="contacts__form-label">Техническая поддержка:</div>
								<a href="mailto:hospices@yandex.ru" class="contacts__form-email">hospices@yandex.ru</a>
							</div>
						</div>
						<div class="contacts__form-wrap-right">
							<div class="contacts__form-item">
								<div class="contacts__form-label">Адрес:</div>
								<div class="contacts__form-address">
									г. Москва, ул. Электролитный проезд 1 корпус 3
									<a href="#">Что&nbsp;здесь?</a>
								</div>
							</div>
							<div class="contacts__form-item">
								<div class="contacts__form-label">Время работы:</div>
								<div class="contacts__form-time">
									Круглосуточно, ежедневно
								</div>
							</div>
						</div>
					</div>
				</div>

				<form class="contacts__form-form" action="/ajax/form/" data-type="contacts" data-title="Остались вопросы?">
					<div class="form__inputs">
						<div class="form__input-wrap">
							<input type="text" name="name" data-required placeholder="Имя">
						</div>
						<div class="form__input-wrap">
							<input type="text" name="email" data-required placeholder="Электронная почта">
						</div>
						<div class="form__input-wrap _comment">
							<textarea name="comment" placeholder="Ваше сообщение"></textarea>
						</div>
					</div>
					<div class="form__submit">
						<button class="form__submit-btn _btn" type="submit">
							Отправить
						</button>
						<div class="form_policy checkbox_item _active" data-action="form_checkbox" data-form-privacy>
							<input type="checkbox" name="policy" class="personalData" checked data-required=>
							<p class="checkbox_pseudo">Согласен с&nbsp;</p>
							<a class="form_policy_link" href="/privacy-policy/" target="_blank">
								политикой обработки персональных данных
							</a>
						</div>
					</div>
				</form>
			</div>

			<div class="contacts__form-success">
				<h2 class="contacts__form-success-title">Вопрос успешно отправен</h2>
				<div class="contacts__form-success-text">
					Спасибо за проявленный интерес. Мы свяжемся с Вами в ближайшее время.
				</div>
				<div class="contacts__form-success-btn _btn" data-form-contacts-success>Понятно, спасибо</div>
			</div>
		</div>

		<div class="contacts__staff">
			<h2 class="contacts__staff-title">
				Наши сотрудники
			</h2>
			<div class="contacts__staff-list">
				<div class="contacts__staff-item">
					<div class="contacts__staff-item-image">
						<img src="/image/staff/01.jpg" alt="">
					</div>
					<div class="contacts__staff-item-name">
						Ольга Каширина
					</div>
					<div class="contacts__staff-item-text">
						Руководитель отдела контроля качества
					</div>
				</div>
				<div class="contacts__staff-item">
					<div class="contacts__staff-item-image">
						<img src="/image/staff/02.jpg" alt="">
					</div>
					<div class="contacts__staff-item-name">
						Кочеткова Галина
					</div>
					<div class="contacts__staff-item-text">
						Руководитель call-центра
					</div>
				</div>
				<div class="contacts__staff-item">
					<div class="contacts__staff-item-image">
						<img src="/image/staff/03.jpg" alt="">
					</div>
					<div class="contacts__staff-item-name">
						Андреева Маргарита
					</div>
					<div class="contacts__staff-item-text">
						Оператор call-центра
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="map contacts__map"></div>
</div>